# Python / general
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.cache

# Virtual envs / IDEs
venv/
env/
.env
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
extract_test.ipynb

# Data (your extracted CSV folder)
csv/

# OS files
.DS_Store
Thumbs.db

# Spyder project settings
.spyderproject
.spyproject

